
body {
    font-family:Arial;
    font-size:30px;
    background-color:rgb(0, 0, 0);
    color: white
}

input, button {
    font-size:20px;
}

div {
    margin: 5px;
}

a {
    color:rgb(156, 197, 210)
}

#locker {
    width: 60px;
}

#sideNote {
    font-size: 16px
}

#notes {
    height: 120px;
    width: 120px;
}


