body {
    zoom: 300%;
    font-family:Arial;
    font-size:16px;
    background-color:rgb(0, 0, 0);
    color: white
}

div {
    margin: 5px;
}

a {
    color:rgb(156, 197, 210)
}

#locker {
    width: 40px;
}


